@import "./../../App-styles.scss";

.cards {
  padding: 100px 0;
  background-color: $backgroundDarkGrey;

  &__headline {
    width: 50%;
    margin-bottom: 80px;

    h2 {
      color: $fontWhite;
      font-weight: 900;
      font-size: 48px;
      line-height: 110%;
      letter-spacing: -1px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
}
.card-do,
.card-dont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 45%;
  height: 660px;
  @include cardShape;
}
.card-do-img,
.card-dont-img {
  display: block;
  margin: 0 auto;
}
.card-do h3,
.card-dont h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 90%;
  color: #202523;
  letter-spacing: -1px;
  text-align: center;
}
.card-do ul,
.card-dont ul {
  width: 70%;
  list-style: none;
  padding-left: 0;
  list-style-position: outside;
}
.card-do li,
.card-dont li {
  display: flex;
  align-items: center;
}
.card-do li:last-child {
  align-items: flex-start;
}
.card-do li > p,
.card-dont li > p {
  padding-bottom: 6px;
  border-bottom: 1px solid $backgroundDarkGrey;
}
.card-do li:last-child p,
.card-dont li:last-child p {
  border-bottom: none;
}
