@import "./../../App-styles.scss";

.recruitment {
  background-color: $backgroundLightGrey;
  padding: 80px 0;
  position: relative;

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 320px;

    &-headline {
      width: 45%;
    }
    h2 {
      @include darkHeadline;
    }

    &-text {
      width: 50%;
      padding: 0 10px;
    }
  }
  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 20px;

    &-item1 {
      width: 50%;
      height: 500px;

      border-radius: 16px;
      padding: 16px 0 0 24px;
      background: linear-gradient(0deg, #ffffff, #ffffff),
        linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
      box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
        0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
        0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);

      &-image {
        background-image: url(./../../images/theOne.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-position: 90% 85%;
      }

      &-headline {
        width: 50%;

        span {
          font-weight: bold;
          font-size: 14px;
          line-height: 110%;
          color: #545460;
        }
        h2 {
          color: #202523;
          font-weight: 800;
          font-size: 36px;
          line-height: 110%;
          letter-spacing: -1px;
        }
      }
      &-text {
        width: 60%;
      }
    }
    &-item2 {
      width: 50%;
      height: 500px;
      padding: 16px 6px 0 24px;

      background: linear-gradient(0deg, #ffffff, #ffffff),
        linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
      box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
        0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
        0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
      border-radius: 16px;

      &-image {
        background-image: url(./../../images/theTwo.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-position: 90% 85%;
      }
      &-headline {
        width: 50%;

        span {
          font-weight: bold;
          font-size: 14px;
          line-height: 110%;
          color: #545460;
        }
        h2 {
          color: #202523;
          font-weight: 800;
          font-size: 36px;
          line-height: 110%;
          letter-spacing: -1px;
        }
      }
      //   &-text {
      //     width: 90%;
      //     display: flex;
      //     gap: 20px;
      //   }
      //   &-text > * {
      //     flex-basis: 100%;
      //     margin: 0;
      //   }
      &-text p {
        columns: 2;
      }
    }
  }
  &-arrow-wrap img {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    width: 90vw;
    display: block;
    margin: 0 5vw;
  }
}
.carousel-wrap {
  display: none;
}
@media screen and (max-width: 768px) {
  .recruitment__info {
    flex-direction: column;
    justify-content: flex-start;
  }
  .recruitment__info-headline {
    width: 100%;
  }
  .recruitment__info-headline h2 {
    font-size: 32px;
    line-height: 110%;
  }
  .recruitment__info-text {
    width: 100%;
    display: flex;
    gap: 24px;
  }
  .recruitment__info-text > * {
    flex-basis: 100%;
  }
  .recruitment__cards-item1-headline,
  .recruitment__cards-item2-headline {
    width: 90%;
  }
  .recruitment__cards-item1-headline h2 {
    font-size: 32px;
  }
  .recruitment__cards-item2-headline h2 {
    font-size: 32px;
  }

  .recruitment__cards-item1-text,
  .recruitment__cards-item2-text {
    width: 90%;
  }
  .recruitment__cards-item2-text :nth-child(2) {
    display: none;
  }
  .carousel-wrap {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .recruitment {
    padding: 64px 0;
  }
  .recruitment__info-headline h2 {
    margin: 0;
    padding-bottom: 24px;
  }
  .recruitment__info-text {
    flex-direction: column;
  }
  .recruitment__info-text p {
    margin: 0;
  }
  .recruitment__cards {
    display: none;
  }
  .carousel-wrap {
    display: block;
    padding-top: 20px;
  }

  .card-one,
  .card-two {
    width: 96%;
    height: 480px;
    margin: 0 auto;

    border-radius: 16px;
    padding: 24px;
    background: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
  }
  .card-one h2,
  .card-two h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -1px;
    color: #202523;
  }
  .card-one span,
  .card-two span {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 110%;
    color: #545460;
  }
  .card-one-headline,
  .card-two-headline {
    text-align: left;
  }
  .card-one-text,
  .card-two-text {
    text-align: left;
  }
  .card-one-image {
    background-image: url(./../../images/theOne.png);
    background-repeat: no-repeat;
    background-size: 40%;
    width: 100%;
    height: 100%;
    background-position: 40% 100%;
  }
  .card-two-image {
    background-image: url(./../../images/theTwo.png);
    background-repeat: no-repeat;
    background-size: 55%;
    width: 100%;
    height: 100%;
    background-position: 40% 100%;
  }
  .carousel-status {
    display: none;
  }
  .thumbs-wrapper.axis-vertical {
    display: none;
  }
  .recruitment-arrow-wrap img {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    width: 90vw;
    height: 10vh;
    display: block;
    margin: 0 5vw;
  }
}
