$accentGreen: rgba(24, 232, 164, 1);
$backgroundDark: rgba(0, 20, 39, 1);
$backgroundWhite: #ffffff;
$backgroundWhiter: rgba(255, 255, 255, 1);
$backgroundLightGrey: rgba(213, 212, 217, 1);
$backgroundDarkGrey: rgba(174, 169, 168, 1);

@mixin darkHeadline {
  font-family: "Helvetica Now";
  font-weight: 900;
  font-size: 62px;
  line-height: 90%;
  color: #202523;
  letter-spacing: -1px;
}
@mixin cardShape {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
  box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
    0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
    0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
}
//font variables
$fontWhite: #ffffff;
$fontDarkButton: #020213;

@font-face {
  font-family: "Helvetica Now";
  font-weight: normal;
  src: url("./font/Helvetica\ Now\ Text\ Medium.otf");
}
@font-face {
  font-family: "Helvetica Now";
  font-weight: lighter;
  src: url("./font/Helvetica\ Now\ Text\ ExtraLight.otf");
}
@font-face {
  font-family: "Helvetica Now";
  font-weight: bold;
  src: url("./font/Helvetica\ Now\ Text\ ExtraBold.otf");
}

* {
  box-sizing: border-box;
  font-family: "Abel", serif;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Helvetica Now";
}

.container {
  width: 80%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-family: "Helvetica Now";
  font-size: 54px;
  color: $fontWhite;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 728px;
    width: 96%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 280px;
    width: 91%;
    margin: 0 auto;
  }
}
