@import "./../../App-styles.scss";
.form {
  padding: 40px 0 100px 0;

  &__wrapper {
    display: flex;
    gap: 98px;
  }
  &__headline {
    width: 50%;

    h3 {
      width: 80%;
      @include darkHeadline;
      margin: 0;
      padding: 0 0 24px 0;
    }
    p {
      display: block;
      font-weight: normal;
      font-size: 24px;
      line-height: 156%;
      color: #000000;
    }
  }
  &__application {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;

    input[type="text"] {
      width: 46%;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      border: none;
      border-bottom: 1px solid $backgroundDarkGrey;
    }
    input[type="email"] {
      width: 46%;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      border: none;
      border-bottom: 1px solid $backgroundDarkGrey;
    }
    textarea {
      margin: 0;
      width: 100;
      font-size: 16px;
      line-height: 24px;
      border: none;
      border-bottom: 1px solid $backgroundDarkGrey;
    }
    input[type="file"] {
      display: none;
    }

    &-btn {
      background-color: $accentGreen;
      font-weight: 800;
      font-size: 16px;
      line-height: 120%;
      width: 75%;
      height: 59px;
      padding: 16px;
      border: none;
      box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
        0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09),
        0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 768px) {
  .form {
    margin-top: 400px;
  }
  .form__wrapper {
    flex-direction: column;
  }
  .form__headline {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
  }
  .form__headline h3 {
    font-size: 32px;
    width: 50%;
  }
  .form__headline p {
    font-size: 16px;
    width: 50%;
  }
  .form__application textarea {
    width: 100%;
  }
  .form__application-btn {
    margin: 0px auto;
    width: 75%;
    height: 59px;
    align-self: flex-end;
  }
}
@media screen and (max-width: 375px) {
  .form {
    margin-top: 1250px;
    padding: 60px 0 40px 0;
  }
  .form__wrapper {
    gap: 32px;
  }
  .form__headline {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .form__headline h3 {
    font-size: 32px;
    width: 100%;
    padding: 0;
  }
  .form__headline p {
    font-size: 16px;
    width: 100%;
  }
  .form__application input[type="text"] {
    width: 100%;
  }
  .form__application input[type="email"] {
    width: 100%;
  }
  .form__application textarea {
    width: 100%;
  }
  .form__application-btn {
    width: 100%;
  }
}
